{% load static %}
{% load i18n %}

<!-- Carousel Start -->
<div class="carousel-header">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="background-opacity-dark">
                    <img src="{% static 'img/carousel-11.jpg' %}" class="img-fluid w-100" alt="{% trans 'Image' %}">
                </div>
                <div class="carousel-caption-1">
                    <div class="carousel-caption-1-content" style="max-width: 900px;">
                        <h2 class="text-white text-uppercase fw-bold mb-4 fadeInUp" style="animation-delay: 1s;">{% trans "Перевірка згорткової нейронної мережі" %}</h2>
                        <div class="carousel-caption-1-content-btn fadeInUp" style="animation-delay: 1.3s;">
                            <a class="btn btn-secondary rounded-pill flex-shrink-0 py-3 px-5 ms-2" style="margin-bottom: 30px;" href="{% url 'home:cognition' %}">{% trans "Тест мережі" %}</a>
                        </div>
                        <h2 class="text-white text-uppercase fw-bold mb-4 fadeInUp" style="animation-delay: 1.5s;">{% trans "Чат на базі GPT-4o-mini" %}</h2>
                        <div class="carousel-caption-2-content-btn fadeInUp" style="animation-delay: 1.7s;">
                            <a class="btn btn-secondary rounded-pill flex-shrink-0 py-3 px-5 ms-2" style="margin-bottom: 30px;" href="{% url 'chat_page' %}">{% trans "Спробувати чат" %}</a>
                        </div>

                        <h2 class="text-white text-uppercase fw-bold mb-4 fadeInUp" style="animation-delay: 2s;">{% trans "Гра з нейронною мережею" %}</h2>
                        <div class="carousel-caption-2-content-btn fadeInUp" style="animation-delay: 2.2s;">
                            <a class="btn btn-secondary rounded-pill flex-shrink-0 py-3 px-5 ms-2" href="{% url 'game2:play_game' %}">{% trans "Грати зараз" %}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon btn btn-primary fadeInUp" style="animation-delay: 1.3s;"> 
                <i class="fa fa-angle-left fa-3x"></i>
            </span>
            <span class="visually-hidden">{% trans "Previous" %}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon btn btn-primary fadeInUp" style="animation-delay: 1.3s;">
                <i class="fa fa-angle-right fa-3x"></i>
            </span>
            <span class="visually-hidden">{% trans "Next" %}</span>
        </button>
    </div>
</div>
<!-- Carousel End -->
