{% load static %}

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary"><i class="fas fa-brain me-3"></i>Cognition.Creators</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="{% url 'home:team' %}" class="nav-item nav-link">Team</a>
                <a href="{% url 'home:cognition' %}" class="nav-item nav-link">Cognition</a>
                <!-- <a href="{% url 'accounts:logout' %}" class="nav-item nav-link">Logout</a> -->
                <a href="{% url 'face_id:logout' %}" class="nav-item nav-link">Logout</a>
                <a href="{% url 'face_id:register' %}" class="nav-item nav-link">SignUp</a>
                <!-- <a href="{% url 'accounts:login' %}" class="nav-item nav-link">Login</a> -->
                <a href="{% url 'face_id:face_login' %}" class="nav-item nav-link">Login</a>
            </div>
            <a href="https://github.com/IT-School-GoIT/final_data_science_goit"
                class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4" target="_blank">GitHub</a>
        </div>
    </nav>

</div>

<!-- Navbar & Hero End -->