{% load static %}
{% load i18n %}

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary"><i class="fas fa-brain me-3"></i>Cognition.Creators</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}">{% trans "Початок" %}</a>
                <a href="{% url 'home:team' %}"
                    class="nav-item nav-link {% if request.resolver_match.url_name == 'team' %}active{% endif %}">{% trans "Команда" %}</a>
                <a href="{% url 'home:cognition' %}"
                    class="nav-item nav-link {% if request.resolver_match.url_name == 'cognition' %}active{% endif %}">{% trans "Пізнання" %}</a>
                <a href="{% url 'chat_page' %}"
                    class="nav-item nav-link {% if request.resolver_match.url_name == 'chat_page' %}active{% endif %}">{% trans "Чат" %}</a>
                <a href="{% url 'game2:play_game' %}"
                    class="nav-item nav-link {% if request.resolver_match.url_name == 'play_game' %}active{% endif %}">{% trans "Гра" %}</a>
                <a href="{% url 'accounts:logout' %}"
                    class="nav-item nav-link {% if request.resolver_match.url_name == 'logout' %}active{% endif %}">{% trans "Вийти" %}</a>
                <a href="{% url 'accounts:signup' %}"
                    class="nav-item nav-link {% if request.resolver_match.url_name == 'signup' %}active{% endif %}">{% trans "Реєстрація" %}</a>
                <a href="{% url 'accounts:login' %}"
                    class="nav-item nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}">{% trans "Логін" %}</a>
            </div>
            <div class="language-switcher">
                <form action="{% url 'home:set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    <select name="language" onchange="this.form.submit()">
                        <option value="uk" {% if LANGUAGE_CODE == 'uk' %}selected{% endif %}>{% trans "УКР" %}</option>
                        <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>{% trans "АНГ" %}</option>
                    </select>
                    <input type="submit" value="Go">
                </form>
            </div>

            <a href="https://github.com/IT-School-GoIT/final_data_science_goit"
                class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4" target="_blank">GitHub</a>
        </div>
    </nav>
</div>

<!-- Navbar & Hero End -->
