{% load static %}
{% load i18n %}

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <h1 class="text-primary"><i class="fas fa-brain me-3"></i>Cognition.Creators</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}" style="border: none; background: none; padding: 10px; font-size: inherit; color: #18CAE0; text-decoration: none; cursor: pointer;">{% trans "Початок" %}</a>
                <a href="{% url 'home:team' %}"
                    class="nav-item nav-link {% if request.resolver_match.url_name == 'team' %}active{% endif %}" style="border: none; background: none; padding: 10px; font-size: inherit; color: #18CAE0; text-decoration: none; cursor: pointer;">{% trans "Команда" %}</a>
                <a href="{% url 'home:cognition' %}"
                    class="nav-item nav-link {% if request.resolver_match.url_name == 'cognition' %}active{% endif %}" style="border: none; background: none; padding: 10px; font-size: inherit; color: #18CAE0; text-decoration: none; cursor: pointer;">{% trans "Пізнання" %}</a>
                
                <a href="{% url 'game2:play_game' %}"
                    class="nav-item nav-link {% if request.resolver_match.url_name == 'play_game' %}active{% endif %}" style="border: none; background: none; padding: 10px; font-size: inherit; color: #18CAE0; text-decoration: none; cursor: pointer;">{% trans "Гра" %}</a>

                {% if request.user.is_authenticated %}
                <a href="{% url 'chat_page' %}"
                class="nav-item nav-link {% if request.resolver_match.url_name == 'chat_page' %}active{% endif %}" style="border: none; background: none; padding: 10px; font-size: inherit; color: #18CAE0; text-decoration: none; cursor: pointer;">{% trans "Чат" %}</a>
                <a href="{% url 'accounts:user_profile' request.user.username %}" class="nav-item nav-link"  style="border: none; background: none; padding: 10px; font-size: inherit; color: #18CAE0; text-decoration: none; cursor: pointer;">{{ request.user.username }}</a>
                    <form method="POST" action="{% url 'accounts:logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="nav-item nav-link" style="border: none; background: none; padding: 10px; font-size: inherit; color: #18CAE0; text-decoration: none; cursor: pointer;">{% trans "Вийти" %}</button>
                    </form>
                    
                {% else %}
                    <a href="{% url 'accounts:signup' %}" class="nav-item nav-link" style="border: none; background: none; padding: 10px; font-size: inherit; color: #18CAE0; text-decoration: none; cursor: pointer;">{% trans "Реєстрація" %}</a>
                    <a href="{% url 'accounts:login' %}" class="nav-item nav-link" style="border: none; background: none; padding: 10px; font-size: inherit; color: #18CAE0; text-decoration: none; cursor: pointer;">{% trans "Логін" %}</a>
                {% endif %}
            </div>

            <div class="language-switcher">
                <form action="{% url 'home:set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    
                    <!-- Перемикач мови у стилі кнопки -->
                    <select name="language" onchange="this.form.submit()">
                        <option>{% trans "МОВА" %}</option>
                        <option value="uk" {% if LANGUAGE_CODE == 'uk' %}selected{% endif %}>{% trans "УКР" %}</option>
                        <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>{% trans "АНГ" %}</option>                        
                    </select>
                </form>
            </div>

            <a href="https://github.com/IT-School-GoIT/final_data_science_goit"
                class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4" target="_blank">GitHub</a>
        </div>
    </nav>
</div>
<!-- Navbar & Hero End -->
