{% load static %}
{% load i18n %}

<!-- Features Start -->
<div class="container-fluid product py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">{% trans "Продукти" %}</h4>
            <h1 class="display-3 text-capitalize mb-3">{% trans "Ми пропонуємо" %}</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <!-- Завантаження зображення -->
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="product-item">
                    <a href="{% url 'recognition:index' %}">
                        <img src="{% static 'img/product-1.jpg' %}" class="img-fluid w-100 rounded-top" alt="{% trans 'Upload Image' %}">
                    </a>    
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>{% trans "Завантажте зображення" %}</p>
                        <a class="h4 d-inline-block mb-3">{% trans "Просте завантаження" %}</a>
                        <p class="fs-4 text-primary mb-3">{% trans "Безкоштовно" %}</p>
                        <a href="{% url 'recognition:index' %}" class="btn btn-secondary rounded-pill py-2 px-4">{% trans "Дізнатися більше" %}</a>
                    </div>
                </div>
            </div>
            <!-- Навчання моделі -->
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="product-item">
                    <a href="{% url 'home:vgg16' %}">
                        <img src="{% static 'img/product-2.jpg' %}" class="img-fluid w-100 rounded-top" alt="{% trans 'Train Model' %}">
                    </a>    
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>{% trans "Навчання моделі" %}</p>
                        <a class="h4 d-inline-block mb-3">{% trans "Ефективне навчання" %}</a>
                        <p class="fs-4 text-primary mb-3">{% trans "Висока точність" %}</p>
                        <a href="{% url 'home:vgg16' %}" class="btn btn-secondary rounded-pill py-2 px-4">{% trans "Дізнатися більше" %}</a>
                    </div>
                </div>
            </div>    
            <!-- Перевірка зображення -->
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="product-item">
                    <a href="{% url 'recognition:index' %}">
                        <img src="{% static 'img/product-3.jpg' %}" class="img-fluid w-100 rounded-top" alt="{% trans 'Check Image' %}">
                    </a>
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>{% trans "Перевірка зображення" %}</p>
                        <a class="h4 d-inline-block mb-3">{% trans "Миттєві результати" %}</a>
                        <p class="fs-4 text-primary mb-3">{% trans "Точність понад 95" %}</p>
                        <a href="{% url 'recognition:index' %}" class="btn btn-secondary rounded-pill py-2 px-4">{% trans "Дізнатися більше" %}</a>
                    </div>
                </div>
            </div>
            <!-- Гра -->
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.8s">
                <div class="product-item">
                    <a href="{% url 'game2:play_game' %}">
                        <img src="{% static 'img/product-4.jpg' %}" class="img-fluid w-100 rounded-top" alt="{% trans 'Game' %}">
                    </a>    
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>{% trans "Гра з нейронною мережею" %}</p>
                        <a class="h4 d-inline-block mb-3">{% trans "Змагайтесь з AI" %}</a>
                        <p class="fs-4 text-primary mb-3">{% trans "Захоплюючий досвід" %}</p>
                        <a href="{% url 'game2:play_game' %}" class="btn btn-secondary rounded-pill py-2 px-4">{% trans "Дізнатися більше" %}</a>
                    </div>
                </div>
            </div>
            <!-- Чат -->
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="1.0s">
                <div class="product-item">
                    <a href="{% url 'chat_page' %}">
                        <img src="{% static 'img/product-5.jpg' %}" class="img-fluid w-100 rounded-top" alt="{% trans 'Chat' %}">
                    </a>    
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>{% trans "Чат на базі GPT_v4" %}</p>
                        <a class="h4 d-inline-block mb-3">{% trans "Інтерактивний чат" %}</a>
                        <p class="fs-4 text-primary mb-3">{% trans "Штучний інтелект у чаті" %}</p>
                        {% if user.is_authenticated %}
                            <a href="{% url 'chat_page' %}" class="btn btn-secondary rounded-pill py-2 px-4">{% trans "Дізнатися більше" %}</a>
                        {% else %}
                            <a href="#" class="btn btn-secondary rounded-pill py-2 px-4" data-bs-toggle="modal" data-bs-target="#authModal">{% trans "Дізнатися більше" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="authModalLabel">{% trans "Авторизація потрібна" %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>{% trans "Для доступу до чату, будь ласка, увійдіть у свій акаунт." %}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'accounts:login' %}" class="btn btn-primary">{% trans "Увійти" %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Реєстрація та авторизація Face ID -->
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="1.2s">
                <div class="product-item">
                    <a href="{% url 'accounts:login' %}">
                        <img src="{% static 'img/product-6.jpg' %}" class="img-fluid w-100 rounded-top" alt="{% trans 'Face ID Registration and Login' %}">
                    </a>    
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>{% trans "Реєстрація та авторизація" %}</p>
                        <a class="h4 d-inline-block mb-3">{% trans "Face ID доступ" %}</a>
                        <p class="fs-4 text-primary mb-3">{% trans "Безпечно та зручно" %}</p>
                        <a href="{% url 'accounts:login' %}" class="btn btn-secondary rounded-pill py-2 px-4">{% trans "Дізнатися більше" %}</a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<!-- Features End -->
