{% load static %}
{% load i18n %}

<!-- Features Start -->
<div class="container-fluid product py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">{% trans "Продукти" %}</h4>
            <h1 class="display-3 text-capitalize mb-3">{% trans "Ми пропонуємо:" %}</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="product-item">
                    <img src="{% static 'img/product-1.jpg' %}" class="img-fluid w-100 rounded-top" alt="{% trans 'Upload Image' %}">
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>{% trans "Завантажте зображення" %}</p>
                        <a href="#" class="h4 d-inline-block mb-3">{% trans "Просте завантаження" %}</a>
                        <p class="fs-4 text-primary mb-3">{% trans "Безкоштовно" %}</p>
                        <a href="#" class="btn btn-secondary rounded-pill py-2 px-4">{% trans "Дізнатися більше" %}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="product-item">
                    <img src="{% static 'img/product-2.jpg' %}" class="img-fluid w-100 rounded-top" alt="{% trans 'Train Model' %}">
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>{% trans "Навчання моделі" %}</p>
                        <a href="#" class="h4 d-inline-block mb-3">{% trans "Ефективне навчання" %}</a>
                        <p class="fs-4 text-primary mb-3">{% trans "Висока точність" %}</p>
                        <a href="#" class="btn btn-secondary rounded-pill py-2 px-4">{% trans "Дізнатися більше" %}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="product-item">
                    <img src="{% static 'img/product-3.jpg' %}" class="img-fluid w-100 rounded-top" alt="{% trans 'Check Image' %}">
                    <div class="product-content bg-light text-center rounded-bottom p-4">
                        <p>{% trans "Перевірка зображення" %}</p>
                        <a href="#" class="h4 d-inline-block mb-3">{% trans "Миттєві результати" %}</a>
                        <p class="fs-4 text-primary mb-3">{% trans "Точність понад 95" %}</p>
                        <a href="#" class="btn btn-secondary rounded-pill py-2 px-4">{% trans "Дізнатися більше" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->
