{% load static %}
{% load i18n %}

<!-- Service Start -->
<div class="container-fluid service bg-light overflow-hidden py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">{% trans "Сервіс" %}</h4>
            <h1 class="display-3 text-capitalize mb-3">{% trans "Класифікація зображень" %}</h1>
        </div>
        <div class="row gx-0 gy-4 align-items-center">
            <div class="col-lg-6 col-xl-4 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="service-content text-end">
                                    <a class="h4 d-inline-block mb-3">{% trans "Завантажте зображення" %}</a>
                                    <p class="mb-0">{% trans "Натисніть кнопку, щоб завантажити зображення для класифікації." %}</p>
                                </div>
                                <div class="ps-4">
                                    <div class="service-btn"><i class="fas fa-upload text-white fa-2x"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="service-content text-end">
                                    <a class="h4 d-inline-block mb-3">{% trans "Перевірка зображення" %}</a>
                                    <p class="mb-0">{% trans "Система автоматично перевіряє завантажене зображення." %}</p>
                                </div>
                                <div class="ps-4">
                                    <div class="service-btn"><i class="fas fa-check-circle text-white fa-2x"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item rounded p-4 mb-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="service-content text-end">
                                    <a class="h4 d-inline-block mb-3">{% trans "Вибір моделі" %}</a>
                                    <p class="mb-0">{% trans "Оберіть одну з наступних моделей: VGG16, Faster R-CNN, Mask R-CNN." %}</p>
                                </div>
                                <div class="ps-4">
                                    <div class="service-btn"><i class="fas fa-brain text-white fa-2x"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-transparent">
                    <img src="{% static 'img/cnn_process.jpg' %}" class="img-fluid w-100" alt="CNN Process">
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInRight" data-wow-delay="0.2s">
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="pe-4">
                                    <div class="service-btn"><i class="fas fa-cogs text-white fa-2x"></i></div>
                                </div>
                                <div class="service-content">
                                    <a class="h4 d-inline-block mb-3">{% trans "Налаштування моделі" %}</a>
                                    <p class="mb-0">{% trans "Оптимізуйте модель для досягнення найкращої точності." %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="service-item rounded p-4 mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="pe-4">
                                    <div class="service-btn"><i class="fas fa-chart-line text-white fa-2x"></i></div>
                                </div>
                                <div class="service-content">
                                    <a class="h4 d-inline-block mb-3">{% trans "Отримайте результати" %}</a>
                                    <p class="mb-0">{% trans "Отримайте результати класифікації з високою точністю." %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="service-item rounded p-4 mb-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="pe-4">
                                    <div class="service-btn"><i class="fas fa-database text-white fa-2x"></i></div>
                                </div>
                                <div class="service-content text-start">
                                    <a class="h4 d-inline-block mb-3">{% trans "Аналіз даних" %}</a>
                                    <p class="mb-0">{% trans "Проаналізуйте результати класифікації та поліпшите модель." %}</p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
