{% load static %}
{% load i18n %}

<!-- Team Start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">{% trans "Команда" %}</h4>
            <h1 class="display-3 text-capitalize mb-3">Cognition.Creators</h1>
            <p class="mb-0">{% trans "Кожен член команди активно взяв участь у процесі навчання нейронної мережі. Було проведено розподіл даних, навчання моделі, та вибір оптимальної архітектури CNN, що дозволило досягти високої точності класифікації зображень з CIFAR-10." %}</p>
        </div>
        <div class="row g-4">
            <!-- Anton Babenko -->
            <div class="col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.2s"
                style="max-width: 400px; margin: 0 auto;">
                <div class="team-item p-4">
                    <div class="team-inner rounded">
                        <div class="team-img">
                            <img src="{% static 'img/team-1.jpg' %}" class="img-fluid rounded-top w-100" alt="{% trans 'Image' %}">
                            <div class="team-share">
                                <a class="btn btn-secondary btn-md-square rounded-pill text-white mx-1" href=""><i
                                        class="fas fa-share-alt"></i></a>
                            </div>
                            <div class="team-icon rounded-pill py-2 px-2">
                                <a class="btn btn-secondary btn-sm-square rounded-pill mx-1"
                                    href="https://github.com/bobantonbob" target="_blank"><i
                                        class="fab fa-github"></i></a>
                                <a class="btn btn-secondary btn-sm-square rounded-pill me-1"
                                    href="https://www.linkedin.com/in/babenko-anton/" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="bg-light rounded-bottom text-center py-4">
                            <h4 class="mb-3">{% trans "Бабенко Антон" %}</h4>
                            <h6 class="mb-3">{% trans "Керівник команди" %}</h6>
                            <p class="mb-0">{% trans "Антон є лідером команди, який керує розробкою проекту, приймає ключові технічні рішення та організовує роботу інших членів команди. Він займається архітектурою системи, налаштуванням баз даних і забезпечує, щоб всі етапи проекту відповідали високим стандартам якості." %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Danil Kazakov -->
            <div class="col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.4s"
                style="max-width: 400px; margin: 0 auto;">
                <div class="team-item p-4">
                    <div class="team-inner rounded">
                        <div class="team-img">
                            <img src="{% static 'img/team-3.jpg' %}" class="img-fluid rounded-top w-100" alt="{% trans 'Image' %}">
                            <div class="team-share">
                                <a class="btn btn-secondary btn-md-square rounded-pill text-white mx-1" href=""><i
                                        class="fas fa-share-alt"></i></a>
                            </div>
                            <div class="team-icon rounded-pill py-2 px-2">
                                <a class="btn btn-secondary btn-sm-square rounded-pill me-1"
                                    href="https://www.linkedin.com/in/%D0%B4%D0%B0%D0%BD%D0%B8%D0%BB%D0%BE-%D0%BA%D0%B0%D0%B7%D0%B0%D0%BA%D0%BE%D0%B2-b94a962a2/"
                                    target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="bg-light rounded-bottom text-center py-4">
                            <h4 class="mb-3">{% trans "Даниїл Казаков" %}</h4>
                            <h6 class="mb-3">{% trans "Scrum Master" %}</h6>
                            <p class="mb-0">{% trans "Данило відіграє роль Scrum Master, організовуючи робочі процеси за методологією Scrum. Він відповідає за координацію завдань команди, дотримання термінів та ефективне управління робочими сесіями. Також він допомагає в розробці системи авторизації, включаючи Face ID." %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5"></div> <!-- Простір між групами -->

        <div class="row g-4">
            <!-- Vitalii Bielimov -->
            <div class="col-md-4 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item p-4">
                    <div class="team-inner rounded">
                        <div class="team-img">
                            <img src="{% static 'img/team-2.jpg' %}" class="img-fluid rounded-top w-100" alt="{% trans 'Image' %}">
                            <div class="team-share">
                                <a class="btn btn-secondary btn-md-square rounded-pill text-white mx-1" href=""><i
                                        class="fas fa-share-alt"></i></a>
                            </div>
                            <div class="team-icon rounded-pill py-2 px-2">
                                <a class="btn btn-secondary btn-sm-square rounded-pill me-1"
                                    href="https://www.linkedin.com/in/vitalii-bielimov/" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="bg-light rounded-bottom text-center py-4">
                            <h4 class="mb-3">{% trans "Віталій Бєлімов" %}</h4>
                            <h6 class="mb-3">{% trans "Розробник Data Science" %}</h6>
                            <p class="mb-0">{% trans "Віталій спеціалізується на обробці та аугментації зображень. Він відповідає за масштабування зображень, нормалізацію пікселів та їх підготовку для класифікації. Його робота також включає налаштування інтерфейсу для відображення результатів класифікації." %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Valerii Yermak -->
            <div class="col-md-4 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.8s">
                <div class="team-item p-4">
                    <div class="team-inner rounded">
                        <div class="team-img">
                            <img src="{% static 'img/team-4.jpg' %}" class="img-fluid rounded-top w-100" alt="{% trans 'Image' %}">
                            <div class="team-share">
                                <a class="btn btn-secondary btn-md-square rounded-pill text-white mx-1" href=""><i
                                        class="fas fa-share-alt"></i></a>
                            </div>
                            <div class="team-icon rounded-pill py-2 px-2">
                                <a class="btn btn-secondary btn-sm-square rounded-pill me-1"
                                    href="https://www.linkedin.com/in/valerii-yermak-157732307/" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="bg-light rounded-bottom text-center py-4">
                            <h4 class="mb-3">{% trans "Валерій Єрмак" %}</h4>
                            <h6 class="mb-3">{% trans "Розробник Data Science" %}</h6>
                            <p class="mb-0">{% trans "Валерій відповідає за контейнеризацію проекту. Він створює Dockerfile та налаштовує Docker Compose для автоматизації розгортання проекту у хмарі, забезпечуючи надійність та зручність використання проекту." %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Kateryna Baskina -->
            <div class="col-md-4 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="1.0s">
                <div class="team-item p-4">
                    <div class="team-inner rounded">
                        <div class="team-img">
                            <img src="{% static 'img/team-5.jpg' %}" class="img-fluid rounded-top w-100" alt="{% trans 'Kateryna Baskina Image' %}">
                            <div class="team-share">
                                <a class="btn btn-secondary btn-md-square rounded-pill text-white mx-1" href=""><i
                                        class="fas fa-share-alt"></i></a>
                            </div>
                            <div class="team-icon rounded-pill py-2 px-2">
                                <a class="btn btn-secondary btn-sm-square rounded-pill me-1"
                                    href="https://www.linkedin.com/in/kateryna-baskina-677b22141/" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="bg-light rounded-bottom text-center py-4">
                            <h4 class="mb-3">{% trans "Катерина Башкіна" %}</h4>
                            <h6 class="mb-3">{% trans "Розробник Data Science" %}</h6>
                            <p class="mb-0">{% trans "Катерина займається створенням та документуванням архітектури проекту, розробляючи аналітичні моделі для підвищення точності класифікації зображень. Вона також відповідає за розробку інтерфейсу для перегляду історії класифікацій та збереження персональних результатів користувачів." %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
