{% load static %}

<!-- Team Start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">Team</h4>
            <h1 class="display-3 text-capitalize mb-3">Cognition.Creators</h1>
        </div>
        <div class="row g-4">
            <!-- Anton Babenko -->
            <div class="col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.2s"
                style="max-width: 400px; margin: 0 auto;">
                <div class="team-item p-4">
                    <div class="team-inner rounded">
                        <div class="team-img">
                            <img src="{% static 'img/team-1.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                            <div class="team-share">
                                <a class="btn btn-secondary btn-md-square rounded-pill text-white mx-1" href=""><i
                                        class="fas fa-share-alt"></i></a>
                            </div>
                            <div class="team-icon rounded-pill py-2 px-2">
                                <a class="btn btn-secondary btn-sm-square rounded-pill mx-1"
                                    href="https://github.com/bobantonbob" target="_blank"><i
                                        class="fab fa-github"></i></a>
                                <a class="btn btn-secondary btn-sm-square rounded-pill me-1"
                                    href="https://www.linkedin.com/in/babenko-anton/" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="bg-light rounded-bottom text-center py-4">
                            <h4 class="mb-3">Babenko Anton</h4>
                            <p class="mb-0">Антон Бабенко є провідним розробником у команді "Cognition Creators". Він
                                має великий досвід у галузі машинного навчання та комп'ютерного зору. Антон
                                відповідальний за архітектуру нейронних мереж та оптимізацію моделей, забезпечуючи
                                високу точність класифікації. Його професійний підхід та глибокі знання допомагають
                                команді досягати найкращих результатів у їхніх проектах.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Danil Kazakov -->
            <div class="col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.4s"
                style="max-width: 400px; margin: 0 auto;">
                <div class="team-item p-4">
                    <div class="team-inner rounded">
                        <div class="team-img">
                            <img src="{% static 'img/team-3.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                            <div class="team-share">
                                <a class="btn btn-secondary btn-md-square rounded-pill text-white mx-1" href=""><i
                                        class="fas fa-share-alt"></i></a>
                            </div>
                            <div class="team-icon rounded-pill py-2 px-2">
                                <a class="btn btn-secondary btn-sm-square rounded-pill me-1"
                                    href="https://www.linkedin.com/in/%D0%B4%D0%B0%D0%BD%D0%B8%D0%BB%D0%BE-%D0%BA%D0%B0%D0%B7%D0%B0%D0%BA%D0%BE%D0%B2-b94a962a2/"
                                    target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="bg-light rounded-bottom text-center py-4">
                            <h4 class="mb-3">Danil Kazakov</h4>
                            <p class="mb-0">Данило Казаков займається веб-розробкою та інтеграцією фронтенд і бекенд
                                частин проекту. Він володіє знаннями в галузі Django та Flask, що дозволяє йому
                                створювати ефективні та зручні для користувачів веб-додатки. Данило також працює над
                                UI/UX дизайном, забезпечуючи зручність та естетику інтерфейсу. Його креативність та
                                вміння вирішувати проблеми допомагають команді втілювати інноваційні ідеї.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5"></div> <!-- Простір між групами -->

        <div class="row g-4">
            <!-- Vitalii Bielimov -->
            <div class="col-md-4 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="team-item p-4">
                    <div class="team-inner rounded">
                        <div class="team-img">
                            <img src="{% static 'img/team-2.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                            <div class="team-share">
                                <a class="btn btn-secondary btn-md-square rounded-pill text-white mx-1" href=""><i
                                        class="fas fa-share-alt"></i></a>
                            </div>
                            <div class="team-icon rounded-pill py-2 px-2">
                                <a class="btn btn-secondary btn-sm-square rounded-pill me-1"
                                    href="https://www.linkedin.com/in/vitalii-bielimov/" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="bg-light rounded-bottom text-center py-4">
                            <h4 class="mb-3">Vitalii Bielimov</h4>
                            <p class="mb-0">Віталій Бєлімов є експертом з обробки зображень та комп'ютерного зору. Він
                                спеціалізується на використанні бібліотек OpenCV та TensorFlow для реалізації алгоритмів
                                розпізнавання об'єктів. Віталій відповідальний за інтеграцію моделей у веб-сервіси,
                                забезпечуючи безперебійну роботу додатків. Його технічні навички та увага до деталей
                                роблять його незамінним членом команди.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Valerii Yermak -->
            <div class="col-md-4 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.8s">
                <div class="team-item p-4">
                    <div class="team-inner rounded">
                        <div class="team-img">
                            <img src="{% static 'img/team-4.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                            <div class="team-share">
                                <a class="btn btn-secondary btn-md-square rounded-pill text-white mx-1" href=""><i
                                        class="fas fa-share-alt"></i></a>
                            </div>
                            <div class="team-icon rounded-pill py-2 px-2">
                                <a class="btn btn-secondary btn-sm-square rounded-pill me-1"
                                    href="https://www.linkedin.com/in/valerii-yermak-157732307/" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="bg-light rounded-bottom text-center py-4">
                            <h4 class="mb-3">Valerii Yermak</h4>
                            <p class="mb-0">Валерій Єрмак є фахівцем з баз даних та DevOps. Він відповідає за
                                налаштування та підтримку інфраструктури проекту, включаючи бази даних PostgreSQL та
                                Docker-контейнери. Валерій також займається автоматизацією процесів розгортання та
                                моніторингом продуктивності системи. Його технічний досвід та аналітичні навички
                                забезпечують стабільну та ефективну роботу проекту.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Kateryna Baskina -->
            <div class="col-md-4 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="1.0s">
                <div class="team-item p-4">
                    <div class="team-inner rounded">
                        <div class="team-img">
                            <img src="{% static 'img/team-5.jpg' %}" class="img-fluid rounded-top w-100"
                                alt="Kateryna Baskina Image">
                            <div class="team-share">
                                <a class="btn btn-secondary btn-md-square rounded-pill text-white mx-1" href=""><i
                                        class="fas fa-share-alt"></i></a>
                            </div>
                            <div class="team-icon rounded-pill py-2 px-2">
                                <a class="btn btn-secondary btn-sm-square rounded-pill me-1"
                                    href="https://www.linkedin.com/in/kateryna-baskina-677b22141/" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="bg-light rounded-bottom text-center py-4">
                            <h4 class="mb-3">Kateryna Baskina</h4>
                            <p class="mb-0">Катерина Баскіна є експертом з аналізу даних і статистичних моделей. Вона
                                відповідає за побудову та вдосконалення моделей машинного навчання, а також за
                                проведення досліджень та аналітики для підвищення ефективності командних проектів. Її
                                досвід у сфері аналітики допомагає команді досягати високих результатів у розробці
                                рішень для класифікації та прогнозування.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->