{% load static %}
{% load i18n %}


<!-- Technologies Start -->
<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">{% blocktrans %}Технології{% endblocktrans %}</h4>
            <h1 class="display-3 text-capitalize mb-3">{% blocktrans %}Технології які використовувалися:{% endblocktrans %}</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fab fa-python text-white fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">Python</a>
                    <p class="mb-3">{% blocktrans %}Мова програмування Python, що використовується для розробки алгоритмів класифікації
                        зображень.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-network-wired text-white fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">Convolutional Neural Networks (CNN)</a>
                    <p class="mb-3">{% blocktrans %}Згорткові нейронні мережі, що використовуються для класифікації зображень з високою
                        точністю.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fab fa-docker text-white fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">Docker</a>
                    <p class="mb-3">{% blocktrans %}Використання Docker для контейнеризації та розгортання проекту у стабільному
                        середовищі.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-laptop-code text-white fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">Django</a>
                    <p class="mb-3">{% blocktrans %}Веб-фреймворк Django, що використовується для створення надійних та масштабованих
                        веб-додатків.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="1.0s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-database text-white fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">PostgreSQL</a>
                    <p class="mb-3">{% blocktrans %}Система управління базами даних PostgreSQL для надійного зберігання та управління
                        даними.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="1.2s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fab fa-js text-white fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">JavaScript</a>
                    <p class="mb-3">{% blocktrans %}Використання JavaScript для створення інтерактивних елементів на веб-сторінках.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="1.4s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fas fa-project-diagram text-white fa-3x"></i></div>
                    <a href="#" class="h4 mb-3">Agile</a>
                    <p class="mb-3">{% blocktrans %}Використання Agile методології для гнучкого управління проектами та швидкої
                        адаптації до змін.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="1.6s">
                <div class="feature-item p-4">
                    <div class="feature-icon mb-3"><i class="fab fa-github text-white fa-3x"></i></div>
                    <a href="https://github.com/" target="_blank" class="h4 mb-3">GitHub</a>
                    <p class="mb-3">{% blocktrans %}Платформа для розробки та спільної роботи над проектами з використанням системи
                        контролю версій Git.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Technologies End -->