{% extends '_layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% include '_fragments/navbar_hero.html' %}
{% include '_fragments/header.html' %}

<div class="site-section bg-light pt-5 pb-5">
    <div class="container">
        <div class="text-center">
            <h2 class="text-black py-3">{% trans "Сторінка входу" %}</h2>
            <video id="video" width="440" height="280" autoplay></video>
            <br>
            <canvas id="canvas" width="440" height="280" style="display: none;"></canvas>
            <br>
            <button type="button" onclick="login()"
                class="btn btn-outline-primary rounded-pill py-3 px-5 mt-3 mb-2">{% trans "Логін" %}</button>
            <p id="message"></p>
        </div>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock content %}