{% extends '_layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% include '_fragments/navbar_hero.html' %}
{% include '_fragments/header.html' %}

<div class="site-section bg-light pt-5 pb-5">
    <div class="container">
        <div class="text-center">
            <h2 class="text-black py-3">{% trans "Сторінка входу" %}</h2>
            <video id="video" autoplay></video>
            <br>
            <canvas id="canvas" style="display: none;"></canvas>
            <br>
            <button type="button" onclick="login()"
                class="btn btn-outline-primary rounded-pill py-3 px-5 mt-3 mb-2">{% trans "Логін" %}</button>
            <p id="message"></p>

            <!-- Посилання на реєстрацію -->
            <p class="mb-0 font-weight-bold">
                {% trans "Вже не маєте акаунт?" %}
                <a href="{% url 'accounts:signup' %}" class="ml-3">{% trans "...Реєстрація..." %}</a>
            </p>
        </div>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock content %}