{% extends '_layouts/base.html' %}
{% load static %}

{% block content %}
{% include '_fragments/navbar_hero.html' %}
{% include '_fragments/header.html' %}

<div class="site-section bg-light pt-5 pb-5">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="text-black py-3">Ви вийшли з системи</h2>
                <p class="mb-0 font-weight-bold">
                    Ви успішно вийшли з вашого облікового запису.
                    <a href="{% url 'accounts:login' %}">...Увійти знову...</a>
                </p>
                <p>Залогінений: {{ request.user.is_authenticated }}</p>
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function () {
        window.location.href = "/";  // Переадресація на головну після виходу
    };
</script>


{% endblock content %}