{% extends '_layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% include '_fragments/navbar_hero.html' %}
{% include '_fragments/header.html' %}
<div class="site-section bg-light pt-5 pb-5">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="text-black py-3">{% trans "Реєстрація" %}</h2>
                
                <!-- Відео -->
                <div class="d-flex justify-content-center">
                    <video id="video" autoplay></video>
                </div>

                <!-- Кнопка для знімка -->
                <button onclick="capture()" class="btn btn-outline-primary rounded-pill py-2 px-4 mt-3 mb-2">
                    {% trans "Зробіть знімок" %}
                </button>

                <!-- Canvas для відображення знімка -->
                <div class="d-flex justify-content-center mt-3">
                    <canvas id="canvas" style="display: none;"></canvas>
                </div>

                <!-- Поле введення Username -->
                <input placeholder="Username" type="text" id="name" class="form-control mt-3" required>

                <!-- Кнопка для реєстрації -->
                <button onclick="register()" class="btn btn-primary rounded-pill py-3 px-5 mt-3 mb-2">
                    {% trans "Зареєструватися" %}
                </button>

                <!-- Посилання на вхід -->
                <p class="mb-0 font-weight-bold">
                    {% trans "Вже маєте акаунт?" %}
                    <a href="{% url 'accounts:login' %}" class="ml-3">{% trans "...Увійти..." %}</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock content %}