


<!DOCTYPE html>

{% extends '_layouts/base.html' %}
{% load static %}


{% block content %}

{% include '_fragments/navbar_hero.html' %}
{% include '_fragments/header.html' %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Web Login</title>
    {% load static %}
</head>
<body>
    <video id="video" width="440" height="280" autoplay></video>
    <br>

    <button onclick="capture()">Take snapshot</button>
    <br>

    <canvas id="canvas" width="440" height="280" style="display: none;"></canvas>
    <br>
    <h3>REGISTER ACCOUNT</h3>
    <label for="name">Your name:</label>
    <input type="text" id="name" required>
    <br>
    <button onclick="register()">REGISTER</button>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>


{% endblock content %}

