{% extends '_layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% include '_fragments/navbar_hero.html' %}
{% include '_fragments/header.html' %}

<!-- Профіль користувача -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="card shadow-sm border-0 rounded-lg">
                <div class="card-body p-4">
                    <h1 class="card-title text-primary fw-bold mb-4">{% trans "Профіль користувача" %}: {{ user.username }}</h1>

                    <div class="row">
                        <div class="col-md-6 text-start">
                            <p class="text-muted fw-bold">{% trans "Ім'я" %}: <span class="text-dark">{{ user.first_name }}</span></p>
                            <p class="text-muted fw-bold">{% trans "Прізвище" %}: <span class="text-dark">{{ user.last_name }}</span></p>
                            <p class="text-muted fw-bold">{% trans "Email" %}: <span class="text-dark">{{ user.email }}</span></p>
                            <p class="text-muted fw-bold">{% trans "Кількість перемог над cifar10" %}: <span class="text-dark">{{ victories }}</span></p>
                        </div>
                        <div class="col-md-6 text-center">
                            {% if user_photo %}
                                <img src="data:image/jpeg;base64,{{ user_photo }}" alt="{% trans 'Фото користувача' %}" class="rounded-circle shadow-sm" style="width: 150px; height: 150px;">
                            {% else %}
                                <div class="alert alert-secondary" role="alert">
                                    {% trans "Фото користувача відсутнє." %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
