{% extends '_layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

{% include '_fragments/navbar_hero.html' %}
{% include '_fragments/header.html' %}

<div class="container">
    <h1>{% trans "Профіль користувача:" %} {{ user.username }}</h1>
    <p>{% trans "Ім'я:" %} {{ user.first_name }}</p>
    <p>{% trans "Прізвище:" %} {{ user.last_name }}</p>
    <p>{% trans "Email:" %} {{ user.email }}</p>
    
    {% if user_photo %}
        <img src="data:image/jpeg;base64,{{ user_photo }}" alt="Фото користувача" style="width: 200px; height: auto;">
    {% else %}
        <p>{% trans "Фото користувача відсутнє." %}</p>
    {% endif %}
    
    <p>{% trans "Кількість перемог над cifar10 keras:" %} {{ victories }}</p>
</div>

{% endblock %}
