<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Logout</h1>
        <p>Are you sure you want to log out?</p>
        
        <form id="logout-form" action="{% url 'face_id:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Yes, Logout</button>
        </form>

        <a href="{% url '/' %}" class="btn">Cancel</a>
    </div>
</body>
</html>
