<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
</head>

<body>
    <h2>Реєстрація</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зареєструватися</button>
      </form>
      

    <video id="video" width="720" height="560" autoplay muted></video>

    <script>
        const video = document.getElementById('video');

        // Запитуємо доступ до камери
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
            })
            .catch(err => {
                console.error("Помилка доступу до камери: ", err);
            });

        // При захопленні зображення передаємо вектор обличчя через форму
        document.getElementById('registerForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);

            canvas.toBlob(function (blob) {
                const reader = new FileReader();
                reader.readAsDataURL(blob);
                reader.onloadend = function () {
                    document.getElementById('face_vector').value = reader.result;
                    document.getElementById('registerForm').submit();  // Після захоплення зображення продовжуємо форму
                }
            });
        });
    </script>

</body>

</html>