{% extends '_layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

{% include '_fragments/navbar_hero.html' %}
{% include '_fragments/header.html' %}

<div class="container-fluid pb-5">
    <div class="container pb-5">
        <!-- Заголовок гри -->
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary mb-4">{% trans "Гра" %}</h4>
            <h2 class="display-3 text-capitalize mb-4">{% trans "Виберіть клас зображення" %}</h2>
        </div>

        <!-- Основна частина гри -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-sm border-0 rounded-lg">
                    <div class="card-body p-4">
                        <div class="row">
                            <!-- Зображення гри -->
                            <div class="col-md-6 text-center">
                                <div class="game-container">
                                    <img src="{{ image.image.url }}" alt="Image" class="game-image img-fluid rounded mb-4">
                                </div>
                            </div>
                            <!-- Вибір класу -->
                            <div class="col-md-6 text-center mb-5">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="mb-4">
                                        <input type="radio" name="class_guess" value="plane"> {% trans "Літак" %}<br>
                                        <input type="radio" name="class_guess" value="car"> {% trans "Машина" %}<br>
                                        <input type="radio" name="class_guess" value="bird"> {% trans "Птах" %}<br>
                                        <input type="radio" name="class_guess" value="cat"> {% trans "Кішка" %}<br>
                                        <input type="radio" name="class_guess" value="deer"> {% trans "Олень" %}<br>
                                        <input type="radio" name="class_guess" value="dog"> {% trans "Собака" %}<br>
                                        <input type="radio" name="class_guess" value="frog"> {% trans "Жаба" %}<br>
                                        <input type="radio" name="class_guess" value="horse"> {% trans "Кінь" %}<br>
                                        <input type="radio" name="class_guess" value="ship"> {% trans "Корабель" %}<br>
                                        <input type="radio" name="class_guess" value="truck"> {% trans "Вантажівка" %}
                                    </div>

                                    <!-- Кнопка під зображенням і класами -->
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-primary btn-lg rounded-pill" style="width: 200px;">{% trans "Відправити відповідь" %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Правила гри -->
            <div class="col-md-4">
                <div class="card shadow-sm border-0 rounded-lg">
                    <div class="card-body p-4">
                        <h3 class="text-uppercase text-primary">{% trans "Правила Гри" %}</h3>
                        <p>{% trans "1. Виберіть клас об'єкта на зображенні з представлених варіантів." %}</p>
                        <p>{% trans "2. Система зіставить ваш вибір з результатом класифікації моделі." %}</p>
                        <p>{% trans "3. За кожне правильне передбачення ви отримуєте один бал." %}</p>
                        <p>{% trans "4. Гра триває до тих пір, поки один з учасників не досягне 7 балів." %}</p>
                        <p>{% trans "5. Ви зможете бачити результати як свої, так і моделі після кожного раунду." %}</p>
                        <p>{% trans "6. Якщо ви залогінені, ваші перемоги будуть збережені у вашому профілі." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
