{% extends '_layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

{% include '_fragments/navbar_hero.html' %}
{% include '_fragments/header.html' %}

<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="game-container">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-uppercase text-primary mb-4">{% trans "Гра" %}</h4>
                <h2 class="display-3 text-capitalize mb-4">{% trans "Виберіть клас зображення" %}</h2>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-4">
                        <img src="{{ image.image.url }}" alt="Image" class="game-image img-fluid">
                    </div>
                    <div class="mb-4">
                        <input type="radio" name="class_guess" value="plane"> {% trans "Літак" %}<br>
                        <input type="radio" name="class_guess" value="car"> {% trans "Машина" %}<br>
                        <input type="radio" name="class_guess" value="bird"> {% trans "Птах" %}<br>
                        <input type="radio" name="class_guess" value="cat"> {% trans "Кішка" %}<br>
                        <input type="radio" name="class_guess" value="deer"> {% trans "Олень" %}<br>
                        <input type="radio" name="class_guess" value="dog"> {% trans "Собака" %}<br>
                        <input type="radio" name="class_guess" value="frog"> {% trans "Жаба" %}<br>
                        <input type="radio" name="class_guess" value="horse"> {% trans "Кінь" %}<br>
                        <input type="radio" name="class_guess" value="ship"> {% trans "Корабель" %}<br>
                        <input type="radio" name="class_guess" value="truck"> {% trans "Вантажівка" %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">{% trans "Відправити відповідь" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}